<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news">News</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>





<div class="container my-2">

    <h1>News List</h1>
    <a th:href="@{/addNews}" class="btn btn-primary btn-sm mb-3">Add News</a>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Title News</th>
            <th>Content News</th>
            <th>Date of News</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="news: ${listNews}">
            <td th:text="${news.titleNews}"></td>
            <td th:text="${news.contentNews}"></td>
            <td th:text="${news.dateNews}"></td>
            <td><a th:href="@{/updateNews/{id}(id=${news.id})}" class="btn btn-primary">Update</a></td>
            <td><a th:href="@{/deleteNews/{id}(id=${news.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>

</div>



</body>
</html>